:root {
  --board-size: 5;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  
}

body {
  margin: 0;
  padding: 0;
}

.body {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
}


.game-area {
  /* min-width: 500px; */
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
  border: solid 1px;
}

.game-topic {
  width: 100px;
  height: 100px;
  font-size: 60px;
}

.board-area {
  max-height: 500px;
  overflow-y: auto;
}

.board-grid {
  width: calc(100%/var(--board-size));
  aspect-ratio: 1/1;
  box-sizing: border-box;
  float: left;
  padding: 5px;
  background-color: #f5f0d8;
  border: 1px solid #FFFFFF;
  /* overflow: auto; */
}